body {
  font-family: "Poppins", sans-serif;
}

.bg-about {
  background: linear-gradient(180deg, #ffffff 0%, #d8ffd8 100%);
}
.wrapper.bg-about.angled.lower-start:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 400px 1920px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.overlay1 {
  background-color: #020202bf;
}
.overlay-2 {
  background-color: #3a3a3abf;
}
.hover-effect-1 {
  transform: translateY(0);
  transition: all 0.3s ease;
}
.hover-effect-1:hover {
  transform: translateY(-0.4rem);
  transition: all 0.3s ease;
  background-image: linear-gradient(40deg, #b0ffb6 0.4%, #fff5e2 100.2%);
}
.cta-card__btn {
  padding: 14px 46px;
  display: inline-block;
  text-decoration: none;
  outline: none;
  border: 2px solid rgba(243, 248, 254, 0.3);
  border-radius: 10rem;
  font-size: 18px;
  font-family: "Mulish", sans-serif;
  color: #fff;
  background-color: rgba(243, 248, 254, 0.4);
}
.cta-card {
  width: 100%;
  background-color: #3f3f3f;
  background-image: linear-gradient(rgb(158 29 52 / 1%), rgba(20, 41, 66, 0.8)), url(../img/cta_bg.png);
  background-position: 0 0, 50% 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  border-radius: 16px;
  padding: 40px;
  text-align: center;
  color: #fff;
  z-index: 1;
  position: relative;
}
.elementor-element {
  background-color: transparent;
  background-image: linear-gradient(180deg, #ffffff 0%, #dfe8fc 100%);
  border-radius: 16px 16px 16px 16px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #dfe8fc;
}
.elementor-element-1 {
  background-color: transparent;
  background-image: linear-gradient(180deg, #ffffff 0%, #2f98ea29 100%);
  border-radius: 16px 16px 16px 16px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #dfe8fc;
}

@media (max-width: 767px) {
  .elementor-background-overlay {
    background-image: url(../img/Digital-Product-Track-BG.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    padding: 30px 25px 30px 25px;
    height: 100%;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .elementor-background-overlay {
    background-image: url(../img/Digital-Product-Track-BG.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    padding: 64px 64px 64px 64px;
    height: 100%;
    width: 100%;
  }
}
.accordion-flush .accordion-item {
  border-radius: 20px;
  background: #ffffff;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 20px;
  font-weight: 600;
  width: 100%;
  text-align: start;
  padding: 25px 65px 25px 25px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 0;
  font-size: 18px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 20px;
}
.accordion-button:not(.collapsed) {
  color: #242331;
  box-shadow: none;
  padding-left: 20px;
}
.accordion-button::after {
  margin-left: auto;
  background-color: #44c642;
  padding: 20px 20px;
  content: "";
  right: 33px;
  position: absolute;
  background-image: url(../img/faq.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.4rem;
  transition: transform 0.2s ease-in-out;
  border-radius: 20px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../img/faq-not.png);
  transform: rotate(1deg);
  background-size: 0.7rem;
}
.z-one {
  z-index: 1;
}
.user-guide .nav.nav-pills {
  gap: 19px;
  padding: 40px 0;
}

@media screen and (max-width: 820px) {
  .user-guide .nav.nav-pills {
    padding: 0;
  }
}

.user-guide .nav.nav-pills button {
  border-radius: 16px;
  padding: 15px 18px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .user-guide .nav.nav-pills button {
    padding: 14px 18px;
  }
}

@media screen and (max-width: 560px) {
  .user-guide .nav.nav-pills button {
    padding: 12px 18px;
  }
}

.user-guide .nav.nav-pills button.active {
  background: linear-gradient(109.98deg, #ffffff 9.32%, #dbf0db 134.22%);
}

.user-guide .nav.nav-pills button.active div b {
  background: linear-gradient(180deg, #30b22e 0%, #e9f6e9 73.5%);
  --background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-guide .nav.nav-pills button span.pills-ico {
  min-width: 50px;
  width: 50px;
  height: 50px;
}

@media (max-width: 560px) {
  .user-guide .nav.nav-pills button span.pills-ico {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
}

.user-guide .nav.nav-pills button span.pills-ico img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-guide .nav.nav-pills button div {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  position: relative;
  padding-right: 140px;
  color: #3e3f3e;
  text-align: start;
}

@media (max-width: 560px) {
  .user-guide .nav.nav-pills button div {
    font-size: 15px;
    padding-right: 90px;
  }
}

.user-guide .nav.nav-pills button div b {
  position: absolute;
  right: 0;
  top: 15px;
  bottom: 0;
  font-weight: 600;
  margin: auto;
  font-size: 68px;
  background: linear-gradient(180deg, rgba(13, 35, 52, 0.188), transparent 80%);
  --background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 108px;
  line-height: normal;
}

@media screen and (max-width: 1024px) {
  .user-guide .nav.nav-pills button div b {
    font-size: 86px;
    line-height: 74px;
    height: 80px;
  }
}

@media screen and (max-width: 560px) {
  .user-guide .nav.nav-pills button div b {
    font-size: 56px;
  }
  .user-guide .tab-content {
    padding: 30px;
    position: sticky;
    position: -webkit-sticky;
    top: 170px;
    z-index: 0;
  }
}

.user-guide .tab-content {
  padding: 60px 50px;
  position: sticky;
  position: -webkit-sticky;
  top: 170px;
  z-index: 0;
}

.user-guide .tab-content:after {
  content: "";
  width: 120%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0px 4px 4px 0px #00000040;
  z-index: -1;
  border-radius: 15px;
}

@media screen and (max-width: 1199px) {
  .user-guide .tab-content:after {
    width: 100%;
  }
}

.user-guide .tab-content .content p b {
  font-weight: 600;
}
